.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('map.jpg'); /* 替换为你的图片URL */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: -1; /* 将背景图片放在最底层 */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  
  /* 在手机端的样式 */
  .container {
    max-width: 480px;
    margin: 0 auto;
    background-size: 100% auto; 
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(24, 1fr);
  gap: 1px; /* 可选：用于添加小间隔 */
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.grid-cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* 设置为透明 */
  /* border: 0.3px solid rgb(179, 0, 255);  */
}

.coord-x,
.coord-y {
  position: absolute;
  color: #000000;
  font-size: 3px;
}

.coord-x {
  top: 2px;
  left: 2px;
}

.coord-y {
  bottom: 2px;
  right: 2px;
}

.map-icon {
  color: #ff0000; /* Set the icon color to red */
  font-size: 20px; /* Set the icon size */
}

.carousel-image {
  width: 100%; /* 设置容器宽度，根据实际情况调整 */
  height: 300px; /* 设置容器高度，根据实际情况调整 */
  overflow: hidden; /* 隐藏超出容器尺寸的内容 */
}

.carousel-image img {
  width: 100%; /* 图片宽度设置为100%，自动适应容器宽度 */
  height: auto; /* 图片高度自适应，保持宽高比例 */
  object-fit: contain; /* 控制图片在容器中的填充方式，可以根据需求使用其他值，如 cover 或 fill */
}
